{{- $lang := .Get "lang" | default "html" -}}
{{- $show_preview := .Get "show_preview" | default true -}}
{{- $show_markup := .Get "show_markup" | default true -}}
{{- $input := .Inner -}}


{{- if eq $show_preview true -}}
<div class="code-preview-wrapper mt-8">
  <button class="px-3 py-2 text-sm leading-snug flex transform transition focus:outline-none focus:ring rounded-md text-center whitespace-nowrap appearance-none border border-1 border-gray-300 js-copy-to-clipboard-button bg-white border-1 hover:border-gray-400 hover:bg-gray-50 text-gray-700 mb-3">
    <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18" class="w-4 h-4 mr-2 fill-gray-700"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg>
    <span class="js-copy-text">Copy</span>
  </button>
  <div{{ with .Get "id" }} id="{{ . }}"{{ end }} class="js-code-preview rounded-xl bg-white border border-gray-300  p-2 sm:p-6{{ with .Get "class" }} {{ . }}{{ end }}">
    {{- $input -}}
  </div>
</div>
{{- end -}}

{{- if eq $show_markup true -}}
  {{- $content := $input -}}
  <div class="relative mt-3 code-syntax">
    {{- highlight (trim $content "\n") $lang "" -}}
  </div>
{{- end -}}